/* Your CSS goes here */

h1 {
    text-align: center;
    color: #0066cc;
    font-weight: bold;
    font-style: italic;
    font-family: Lucida;
}

.intro {
    border-style: double groove;
    text-align: center;
    color: #778899;
    font-weight: bold;
}

form {
    font-family: Calibri;
    text-align: left;
    line-height: 200%;
}

select {
    height: 34px;
}

.field {
    background-color: yellow; 
}
